# Copy this file to .env and fill in the values.
DB_NAME=residence_connectee_db
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
DEBUG=True
ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=your_generated_secret_key