Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-filter

psycopg[binary]
python-dotenv==1.2.2

Pillow
Faker==40.13.0
gunicorn==23.0.0
coverage==7.6.12

asgiref==3.11.1
sqlparse>=0.6.0